/*********************************************** css reset ***********************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*********************************************** Html ***********************************************/

html {
  padding: 0px;
  margin: 0px;
  background-color: whitesmoke
}

body {
  margin: auto;
  width: 100%;
}


/*********************************************** Header ***********************************************/
header {
	width: 100%;
	  height: 100px;
	background-image:url(image/background.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: bottom center;
	border-bottom: 2px solid black;
	  padding-bottom: 100px;
  }
  
  .hautPage {
	  display: flex;
  }
  header h1 {
	margin-top: 20%;
	font-size: 60px;
  }
  .hautPag div {
	width: calc(50% - 90px);
  }
nav {
	background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
	background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
  }
  #menu-demo2, #menu-demo2 ul{
  padding:0;
  margin:0;
  list-style:none;
  text-align:center;
  }
  #menu-demo2 li{
  display:inline-block;
  position:relative;
  }
  #menu-demo2 ul li{
  display:inherit;
  border-radius:0;
  }
  #menu-demo2 ul li:hover{
  border-radius:0;
  }
  
  #menu-demo2 ul{
  position:absolute;
  z-index: 1000;
  max-height:0;
  left: 0;
  right: 0;
  overflow:hidden;
  -moz-transition: .8s all .3s;
  -webkit-transition: .8s all .3s;
  transition: .8s all .3s;
  }
  #menu-demo2 li:hover ul{
  max-height:30em;
  }
  
  #menu-demo2 li{
  background-color: #F6AD1A;
  background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
  background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
  }
  
  #menu-demo2 li li{
  background:#9F391A;
  }
  
  #menu-demo2 li:hover, #menu-demo2 li li:hover{
  background:#F6AD1A;
  }
  
  #menu-demo2 a{
  text-decoration:none;
  display:block;
  padding:8px 32px;
  color:#fff;
  font-family:arial;
  }
  #menu-demo2 ul a{
  padding:8px 0;
  }
  #menu-demo2 li:hover li a{
  color:#fff;
  text-transform:inherit;
  }
  #menu-demo2 li:hover a, #menu-demo2 li li:hover a{
  color:#000;
  }
  
  #menu-demo2 .deco {
  margin-left: 40px;
  }


/*********************************************** Menu ***********************************************/

nav {
	background-repeat: repeat;
  	background-size: auto;
 	 margin: 0px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	background-image: none;
	border: none;
}

nav a {
	margin-right: 10px;
	margin-top: 40px;
  color: black;
  font-size: 30px;
}


ul {
  display: flex;
  margin: auto;
  margin-top: 30 px;
  list-style-type: none;
  width: 100%;
  padding: 0px;
  background-color: transparent;
  flex-flow: row wrap;
	justify-content: flex-end;
  
}

li {
	text-align: center;
	padding: 14px;
	  border: none;
	  margin-right: 20px;
  }

/*********************************************** Main ***********************************************/

#Creation{
  margin: 30px;
}

/******************************************** Création ********************************************/
.formulaire {
	margin: 30px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	font-size: 20px;
}
.caracterisique1{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	vertical-align: top;
	margin-top: 30px;
	margin-left: 120px;
	height: 25px;
	width: 25px;
}

h2 {
	font-size: 40px;
	margin-bottom: 20px;
	text-align: center;
}

p {
	font-size: 30px;
	margin-bottom: 20px;
}

.titre{
	font-size: 30px;
	background : orange;
	display: block;
	margin: 20px;
	border: 2px solid black;
	  position: relative;
}
select {
	height: 30px;
}

input[type=radio] {
	vertical-align: top;
	margin-left: 50px;
	margin-top: 4px;
	margin-right: 0px;
	height: 25px;
	width: 25px;
}

.fournisseur,.type,.reappro{
	font-size: 20px;
	margin-bottom: 20px;
}

.photo {
	float :left ;
}

.cadre {
	width: 155px;
	padding-top:150px; 
	padding-bottom:0px;
	border: 3px solid #9b9290; 
	text-align: left;
	background: #eeeae9;
	margin-right: 50%;
}

.entourage {
  display: block;
  margin: 20px;
  border: 2px solid black;
	position: relative;
}
.legend2 {
  position: absolute;
  bottom: -50px;
  right: 300px;
  width : auto;
	padding: 15px 20px;
	color: black;
	background-color: orange ;
	border: 2px solid black;
	border-radius: 25px;


  font-weight: bold;
	font-size: 20px;
}
.legend2:hover {
	color: orange;
	background-color: white;
}

  .ajouter {
	position: absolute;
	bottom: 310px;
	right: 1030px;
	font-size: 18px;
}
.legend1 {
	position: absolute;
	bottom: -50px;
	right: 20px;
	  padding: 15px 40px;
	  color: black;
	  background-color: red;
	  border: 2px solid black;
	  border-radius: 25px;

	 font-weight: bold;
	  font-size: 20px;
  }
  .legend1:hover {
	  color: red;
	  background-color: white;
  }
  
  .legend3 {
	position: absolute;
	bottom: -50px;
	right: 850px;
	  padding: 15px 40px;
	  color: black;
	  background-color: yellowgreen;
	  border: 2px solid black;
	  border-radius: 25px;

	 font-weight: bold;
	  font-size: 20px;
  }
  .legend3:hover {
	  color: green;
	  background-color: white;
  }

